 * {
    margin: 0;
    padding: 0;
 }
.chatbot-main {
    width: 400px;
    height: 500px;
    background-color: #f00;
    position: fixed;
    right:30px;
    bottom: 100px;
    box-shadow: 2px 10px 20px 2px;
    border-radius: 8px;
}
.chatbot-header {
    height: 50px;
    background-color: #ff0;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
}
.chatbot-body {
    height: 400px;
    background-color: aqua;
    overflow-y: scroll;
    padding-inline: 3px;
}
.chatbot-body .left {
    text-align: left;
}
.chatbot-body .right {
    text-align: right;
}
.chatbot-footer {
    height: 50px;
    text-align: center;
    display: flex;
    border-radius: 0 0 8px 8px;
}
.chatbot-footer input {
    width: 85%;
    border-radius: 0 0 0 8px;
    border: none;
}
.chatbot-footer button:hover {
    box-shadow: 1px 1px 20px 5px #888;
    cursor: pointer;
}
.chatbot-footer button {
    width: 15%;
    border-radius: 0 0 8px 0;
    border: none;
}
